html {
    background-color: #f0f1f5;
    font-family: "Europa", Helvetica, sans-serif;
}

nav{
    display: flex;
    border-bottom: 1px solid;
}

nav > h1 {
    flex-grow: 3;
}

nav > ul {
    justify-content: flex-end;
    display: flex;
}

nav > ul > li {
    list-style: none;
    padding: 0px 5px 0px 5px;
}

/* main - contacts */



#contacts > ul {
    list-style: none;
    padding: 0px;
}


img {
    width: 35px;
    border: 1px solid;
    border-radius: 100%;
    background-color: white;
    padding: 0px 6px;
}

.notification {
    background-color: #EE7723;
    color: white;
    font-size: 11px;
    width: 15px;
    padding: 5px;
    border-radius: 100%;
    text-align: center;
}
